<nav class="navbar navbar-expand-lg navbar-light bg-light" dir="rtl">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">בית </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inveiter" routerLinkActive="active">פירטי מזמין</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active">פירטי הזמנת אירוע</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/person" routerLinkActive="active">פרטים אורח</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/viewguest" routerLinkActive="active">בחירת מנה להכנה</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/menu" routerLinkActive="active">תפריט</a>
        </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/reportinviter" routerLinkActive="active">דוח מזמין</a>
      </li>

    </ul>
  </div>
</nav>
