<form class="contaner mt-4" style="text-align:center" novalidate #a="ngForm" >
  
  <h2 style="direction: rtl">שלום {{stringName}} ארגן/י את המסיבה שלך </h2>
  <br/>
  <p dir="rtl">
  <label>
   שם המסיבה:
    <input  class="form-control"  type="text" [(ngModel)]="newEvents.name" name="name" placeholder="שם מסיבה"
    #userName="ngModel"
    minlength="2"
    maxlength="30"
    required/>
  </label>
  </p >
  <div *ngIf="userName.errors?.required && userName.touched" class="alert alert-danger">
      שם  מסיבה חובה 
  
      </div>
      <div *ngIf="userName.errors?.minlength && userName.touched" class="alert alert-danger">
        נא הכנס שם תקין
       </div>


  <p dir="rtl">
      <label>
      כתובת:
        <input class="form-control"  type="text" [(ngModel)]="newEvents.place" name="place"  placeholder="כתובת"  />
      </label>
      </p >
  <p dir="rtl">
  <label>
   מספר מוזמנים:
    <input class="form-control"  type="number" [(ngModel)]="newEvents.numTakePart" name="numTakePart"  placeholder="מספר מוזמנים"/>
  </label>
  </p >
  
  <p dir="rtl">
  <label>
    תאריך:
    <input class="form-control"  type="date" [(ngModel)]="newEvents.dateEvent" name="dateEvent" />
  </label>
  </p>
  
  <label dir="rtl" >
    בשרי/חלבי:
    
    <select [(ngModel)]="newEvents.milkMeat" name="milkMeat">
      <option value="בשרי">בשרי</option>
      <option value="חלבי">חלבי</option>
      
  </select>
  </label>
  <br/>
  <br/>
  
  <button class="btn btn-primary" type="button" (click)="AddEvent()"  >המשך</button>
  </form>