<h2>פרטי מזמין האירוע</h2>

<p dir="rtl">

  <label>
     שם:
      <input type="text" required [(ngModel)]="newInviter.name" name="name"/>
    </label>
    </p >
    <p dir="rtl">
        <label>
        תעודת זהות:
          <input type="text" required [(ngModel)]="newInviter.tz" name="tz"/>
        </label>
        </p >
    <p dir="rtl">
    <label>
     כתובת מייל:
      <input type="text" required [(ngModel)]="newInviter.mailAdress" name="mailAdress"/>
    </label>
    </p >
    <p dir="rtl">
    <label>
      טלפון:
    <input  type="text" required [(ngModel)]="newInviter.phone" name="phone"/>
    </label>
    <br/>
    <br/>
    <button type="button" (click)="AddInviter()" >המשך</button>



    <button type="button" routerLink="/events" >להזמנת אירוע</button>
    
    <br/>
        <label>זכור אותי
        <input type="checkbox" name="checkbox"/></label>
        <label id="success" style="visibility:hidden ">הנתונים נקלטו בהצלחה!!</label>

    <label id="error" *ngIf="errorAdd" >{{message}}</label>
    </p>
    
