<ul class="manot">
    <li *ngFor="let mana of manot">
      <a (click)="edit(mana)">
        <span class="badge">{{ mana.id || -1 }}</span>
        <span *ngIf="mana!==editMana">{{mana.nameMana}}</span>
        <input *ngIf="mana===editMana" [(ngModel)]="mana.nameMana">
        <span *ngIf="mana!==editMana">{{mana.idSivug}}</span>
        <select *ngIf="mana===editMana" [(ngModel)]="mana.idSivug">
            <option *ngFor="let mealType of mealTypes" value="{{mealType.id}}">{{mealType.name}}</option>
        </select>
      </a>
     <!-- <button class="delete" title="מחיקת מנה"
      (click)="delete(mana)">x</button> -->
    </li>
  </ul>
  <button (click)="addNew()">
    הוספה
  </button> 