



    
   
  


<ul class="manot">

    <li *ngFor="let mana of manot">
       <span>{{index}}</span>
        <input type="text" [(ngModel)]="mana.name">

        <select [(ngModel)]="mana.idSivug">
            <option *ngFor="let mealType of mealTypes" value="{{mealType.id}}">{{mealType.name}}</option>
        </select>
     
  
     <button class="" title="מחיקת מנה"
      (click)="delete()">x</button>
    </li>
  </ul>

  <button (click)="addNew()">
    הוספה
  </button> 
  <div class="container">
      
                
    <button type="button" class="btn btn-info btn-block" (click)="AddManot()"> סיום התהליך</button>
  </div>
