<div class="contaner mt-4" style="direction:rtl;text-align: center">
  <label for="tz">הזן תז
  <input  type="text" id="tz"  [(ngModel)]="reportViewModel.tz" (blur)="onBlurTz()" class="form-control"
  #usertz="ngModel"
  maxlength="9"
  minlength="9" required
  placeholder="9 ספרות"
    />
  </label>
    <div *ngIf="usertz.errors?.minlength && usertz.touched" class="alert alert-danger">
      הכנס ערך תקין
     </div>
  
  <br/>
  <div *ngIf="reportViewModel.events && reportViewModel.events.length > 0" >
    <label for="events">בחר ארוע</label>
    <select id="events" [(ngModel)]="reportViewModel.currentEvent" (ngModelChange)="onChangeEvents($event)" >    
      <option *ngFor="let event of reportViewModel.events" [ngValue]="event" >{{event.Name}}</option>
    </select>
  </div>
  <div *ngIf="reportViewModel.currentEvent">
    <table class="table eventTable">
      <thead>
        <th>שם אירוע</th>
        <th>מקום</th>
        <th>מספר משתתפים</th>
      </thead>
      <tr>
        <td>{{reportViewModel.currentEvent.Name}}</td>
        <td>{{reportViewModel.currentEvent.Place}}</td>
        <td>{{reportViewModel.currentEvent.NumTakePart}}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="reportViewModel.GuestsForCurrentEvent && reportViewModel.GuestsForCurrentEvent.length > 0">
    <table class="table guestsTable">
      <thead>
        <th>שם מוזמן</th>
        <th>מנה</th>
        <th>התנדבות</th>
      </thead>
      <tr *ngFor="let guest of reportViewModel.GuestsForCurrentEvent">
        <td>{{guest.poepleName}}</td>
        <td>{{guest.nameMana}}</td>
        <td>{{guest.volunteeringName || "-"}}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="reportViewModel.currentEvent && (!reportViewModel.GuestsForCurrentEvent || reportViewModel.GuestsForCurrentEvent.length == 0)">
    אין משתתפים באירוע
  </div>
</div>